In [3]:
//question 1
S = 'himanshu','siddharth','aman'
L = ['himanshu',' siddharth','aman']
type(L)

list

In [7]:
t = ('himanshu',' siddharth','aman')
type(t)

tuple

In [ ]:
f = 12.3,3.4,1.34
type(f)

tuple

In [ ]:
//question 2
(i) var1 = ' '
This variable var1 is a string that
contains a single space character.

(ii) var2 = '[ DS , ML , Python]'
This variable var2 is also a string,
but it contains a sequence of characters enclosed
in single quotes. The characters inside the quotes are not
treated as separate elements or words; 
they are considered part of the string.

(iii) var3 = ['DS', 'ML', 'Python']
This variable var3 is a list that contains three string elements:
    'DS', 'ML', and 'Python'. The elements 
    are enclosed in square brackets and separated by commas.

(iv) var4 = 1
This variable var4 is an integer with the value 1.

Please note that in the given example,
var2 is a string representation of a list,
while var3 is an actual list containing string elements.

SyntaxError: invalid syntax (1032683232.py, line 1)

In [ ]:
//question 3

(i) / (Division Operator):
The division operator / is used to perform division 
between two numbers and returns the quotient as a float value

example :a = 10
b = 3
result = a / b
print(result)
//output :3.111

In [ ]:
//question 4

(ii) % (Modulo Operator):
The modulo operator % is used to find the remainder of the division operation.

Example:
a = 10
b = 3
result = a % b
print(result)
//output: 1

In [ ]:
(iii) // (Floor Division Operator):
The floor division operator // is used to perform division between two numbers and returns the quotient as an integer value (rounded down to the nearest whole number).

Example:
a = 10
b = 3
result = a // b
print(result)
//output:3

In [ ]:
(iv) ** (Exponentiation Operator):
The exponentiation operator ** is used to raise a number to the power of another number.

Example:
a = 2
b = 3
result = a ** b
print(result)
//output:8

In [ ]:
//question 5

my_list = [1, "Hello", 3.14, True, [1, 2, 3], (4, 5), {'name': 'John', 'age': 25}, None, 10.5, False]

for item in my_list:
    print(f"Element: {item}, Data Type: {type(item)}")

In [ ]:
//question 6
A = 42  # Dividend
B = 7   # Divisor

count = 0   # Variable to count the number of divisions

while A % B == 0:
    A = A // B
    count += 1

print(f"A is divisible by B {count} times.")

In [ ]:
// question 7
my_list = [4, 7, 12, 15, 18, 21, 24, 28, 30, 33, 36, 39,
           42, 45, 48, 52, 55, 58, 60, 63, 66, 69, 72, 75, 78]

for element in my_list:
    if element % 3 == 0:
        print(f"{element} is divisible by 3.")
    else:
        print(f"{element} is not divisible by 3.")

In [ ]:
//question 8
Immutable data types are those whose values cannot be changed after they are created. 

Example:
string = "Hello"
print(string)  # Output: Hello

string += " World"
print(string)  # Output: Hello World

# The original string remains unchanged.

Mutable data types, on the other hand, are those whose values can be changed after they are created.
example:
    my_list = [1, 2, 3]
print(my_list)  # Output: [1, 2, 3]

my_list.append(4)
print(my_list)  # Output: [1, 2, 3, 4]

# The original list is modified